[Unit]
Description=YJMPD (Yorick Janco Music Player Deamon)
After=syslog.target
After=network.target
After=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
Type=simple
User=janco
Group=janco
WorkingDirectory=/opt/yjmpd
ExecStart=/opt/yjmpd/yjmpd
Restart=always
Environment=USER=janco HOME=/home/janco

[Install]
WantedBy=multi-user.target
